@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-bg{
    background-image: url('/banner.png');
    width: auto;
    object-fit: contain;
    background-color: #31353a;
    background-position: center;
    background-repeat: no-repeat;
}