@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-bg{
    object-fit: contain;
    background-color: #31353a;
    background: url('/banner.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}